//reset

html, body, div, span, h1, h2, ol, ul,
a, header, hgroup, menu, section,  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}
button {
    border: none;
    background-color: none;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.eot");
    src: url("./fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
      url("./fonts/Roboto-Regular.otf") format("opentype"),
      url("./fonts/Roboto-Regular.ttf") format("truetype"),
      url("./fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Medium.eot");
    src: url("./fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
      url("./fonts/Roboto-Medium.otf") format("opentype"),
      url("./fonts/Roboto-Medium.ttf") format("truetype"),
      url("./fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Bold.eot");
    src: url("./fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
      url("./fonts/Roboto-Bold.otf") format("opentype"),
      url("./fonts/Roboto-Bold.ttf") format("truetype"),
      url("./fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html {
    width: 100%;
	height: 100%;
    font-size: 16px;
    line-height: normal;
    font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;
	color: #4E4E4E;
}
body {
    width: 100%;
    max-width: 1600px;
	height: 100%;
    margin: 0 auto;
}

a  {
	color: #fff;
}

.container {
    width: 100%;
    max-width: 1062px;
    height: 100%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.btn {
    padding: 0 47px;
    font-size: 14px;
    line-height: 46px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #00AFDB;
}

.btn-small {
    padding: 0 25px;
}
section {
    padding: 120px 0 140px;
}

.section-bg {
    background: #F5F6F7;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    list-style: none;
}

.menu a {
    font-size: 14px;
    line-height: 140%;
    color: #FFF;
    opacity: 0.8;
}

.menu a:hover,
.menu a:focus,
.menu a.active {
    text-decoration: underline;
}

.main {
    height: 744px;
    background: url('assets/images/main_bg.png') center / cover no-repeat;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}
.main .title {
    font-size: 64px;
    line-height: 75px;
}

.description {
    max-width: 504px;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
}

.text-white {
    color: #fff;
}

.text-left {
    text-align: left;
}

.subscribe {
    background: url('assets/images/subscribe_bg.png') center / cover no-repeat;
}

.subscribe input {
    width: 340px;
    padding-left: 20px;
    line-height: 46px;
    background: #FFFFFF;
    border: none;
    outline: none;
}
.download .btn {
    position: relative;
    padding-right: 84px;
}
.download .btn span {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 59px;
    height: 100%;
    background: #009CC2;
}
footer {
    padding: 60px 0 80px;
    background: #000;
}
.footer__menu li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}
.footer__menu li:nth-last-of-type(1)::after {
    content: "";
}
